In [1]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [5]:
cursor = connection.cursor()

In [6]:
## Create a Table
cursor.execute(''' 
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
 ''')

## Commit the changes
connection.commit()

In [7]:
cursor.execute(''' 
Select * from employees
 ''')

In [16]:
## Insert the data into table
cursor.execute(''' 
Insert Into employees(name, age, department)
               values('Shubhasheesh', 24, 'Data Scientist')
''')

cursor.execute(''' 
Insert Into employees(name, age, department)
               values('Shubham', 17, 'Student')
''')

cursor.execute(''' 
Insert Into employees(name, age, department)
               values('Prateek', 27, 'DotNet Devloper')
''')


connection.commit()

In [17]:
## Query the data from sqlite3
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the query data
for row in rows:
    print(row)

(1, 'Shubhasheesh', 25, 'Data Scientist')
(2, 'Shubham', 17, 'Student')
(3, 'Shubhasheesh', 25, 'Data Scientist')
(4, 'Shubham', 17, 'Student')
(5, 'Prateek', 27, 'DotNet Devloper')
(6, 'Shubhasheesh', 24, 'Data Scientist')
(7, 'Shubham', 17, 'Student')
(8, 'Prateek', 27, 'DotNet Devloper')

In [18]:
## Update the data in the table
cursor.execute('''
Update employees
Set age=25
where name='Shubhasheesh'
''')

connection.commit()

In [20]:
## Query the data from sqlite3
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the query data
for row in rows:
    print(row)

(1, 'Shubhasheesh', 25, 'Data Scientist')
(2, 'Shubham', 17, 'Student')
(3, 'Shubhasheesh', 25, 'Data Scientist')
(4, 'Shubham', 17, 'Student')
(5, 'Prateek', 27, 'DotNet Devloper')
(6, 'Shubhasheesh', 25, 'Data Scientist')
(7, 'Shubham', 17, 'Student')
(8, 'Prateek', 27, 'DotNet Devloper')

In [23]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where id=8 
''')
connection.commit()

In [24]:
## Query the data from sqlite3
cursor.execute('Select * from employees')
rows = cursor.fetchall()

## print the query data
for row in rows:
    print(row)

(1, 'Shubhasheesh', 25, 'Data Scientist')
(2, 'Shubham', 17, 'Student')
(3, 'Shubhasheesh', 25, 'Data Scientist')
(4, 'Shubham', 17, 'Student')
(5, 'Prateek', 27, 'DotNet Devloper')
(6, 'Shubhasheesh', 25, 'Data Scientist')
(7, 'Shubham', 17, 'Student')

In [25]:
## Working Wwith Sales Data
# Connect to an SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [26]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [27]:
## close the connection
connection.close()